body
{
	background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}
h1
{
	color: black;
	text-align: center;
	font-size: 35px;
	font-family: "Lucida Handwriting", cursive;
}


input[type=text] 
{
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid blue;
  width: 15%;
